body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
  }
  .nav {
  height: 60px;
  background-color: #1b2cb2;
  padding: 1rem 3rem;
  color: white;
}
  .form-container {
    width: 340px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #007acc;
  }

  .register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
  .register-link a {
    color: #1e90ff;
    text-decoration: none;
  }
  .register-link a:hover {
    text-decoration: underline;
  }
