<!-- index.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anasayfa</title>
  <link rel="stylesheet" href="static/css/style.css" />

</head>
<body>
    <nav class="navbar">
        <div class="logo" style="font-weight: bold;">Yapay Zeka Tarif</div>
        <ul class="nav-links">
          <li><a href="index.html">Anasayfa</a></li>
          <li><a href="recipes.html">Tarifler</a></li>
          <li><a href="materials.html">Malzeme Ekle</a></li>
          <li><a href="login.html">Giriş Yap</a></li>
          <li><a href="register.html">Kayıt Ol</a></li>
        </ul>
      </nav>

  <main class="content">
    <h1>Hoş Geldiniz!</h1>
    <p>
      Bu site, evdeki malzemelere göre sana özel yemek tarifleri öneren yapay zekâ destekli sistem.Yukarıdaki menüden kullanıcı girişi yapabilir, tarifleri inceleyebilir, malzeme ekleyebilirsiniz.
    </p>
  </main>

</body>
</html>
