<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Giriş Sayfası</title>
  <link rel="stylesheet" href="/static/css/login.css" />
</head>
<body>

  <div class="form-container">
    <h4>Hesabınız var mı? Lütfen giriş yapın !</h4>

    <form id="loginForm">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required autocomplete="email" />

      <label for="password">Şifre</label>
      <input type="password" id="password" name="password" required autocomplete="current-password" />

      <button type="submit">Giriş Yap</button>
    </form>

    <p class="register-link">
      Hesabınız yok mu? <a href="/auth/register">Kayıt olun</a>
    </p>
  </div>

  <script src="static/js/login.js"></script>
</body>
</html>
