<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Tarifler</title>
  <link rel="stylesheet" href="/static/css/recipes.css?v=2" />
</head>
<body>
    <nav class="navbar">
        <div class="logo" style="font-weight: bold;">Yapay Zeka Tarif</div>
        <ul class="nav-links">
          <li><a href="/home">Anasayfa</a></li>
          <li><a href="/recipes/recipe-page">Tarifler</a></li>
          <li><a href="/materials/material-page">Malzeme Ekle</a></li>
        </ul>
      </nav>


  <main class="content">
    <h2>Tarif Listesi</h2>
    <ul class="recipe-list">
      <li>
        <h3>Makarna</h3>
        <p>Domates soslu nefis makarna tarifi</p>
      </li>
      <li>
        <h3>Mercimek Çorbası</h3>
        <p>Lezzetli ve besleyici klasik çorba</p>
      </li>
      <li>
        <h3>Kısır</h3>
        <p>Kolay ve pratik bulgurlu tarif</p>
      </li>
    </ul>
  </main>
</body>


</html>
